.btn-style {
    padding: 15px;
    background-color: $color-pink;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    display: inline-block;
    outline: none;
    text-align: center;
    
    &:hover {
        background-color: #d85067;
        color: white;
    }

    &.light {
        background-color: $color-pink_light;
        color: $color-pink;
    }
}
