.card-with-icon {
    padding: 30px 15px 30px 25px;

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: lightgrey;

        i {
            font-size: 30px;
        }
    }
    &__title {
        margin-top: 22px;
        font-size: 18px;
        color: $color-black;
        letter-spacing: 0.68px;
        line-height: 26px;
    }
    &__desc {
        margin-top: 7px;
        font-size: 17px;
        color: $color-black-light;
        letter-spacing: 0.6px;
        line-height: 27px;
    }
}
