.chip {
    display: inline-block;
    padding: 10px 27px;
    font-size: 11px;
    color: $color-pink;
    background-color: $color-pink_light;
    letter-spacing: 0.79px;
    text-align: center;
    border-radius: 16px;
}
