#intro {
    height: 760px;
    .title {
        font-size: 38px;
        line-height: 48px;
        letter-spacing: 1.4px;
        margin-bottom: 10px;

        .highlighted {
            color: $color-pink;
        }
    }
    .desc {
        font-size: 17px;
        color: $color-black-light;
        letter-spacing: 0.6px;
        line-height: 27px;
    }
    .actions {
        margin-top: 38px;

        > a {
            min-width: 150px;
            margin-right: 25px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .details-wrapper {
        display: flex;
        align-items: center;
    }

    .mosaic-imgs {
        display: flex;
        justify-content: space-between;
        height: 100%;
        overflow-y: hidden;

        &_col {
            width: calc(100% / 3 - 20px);
            transform: translateY(-52px);

            &-item {
                position: relative;
                height: 220px;
                border-radius: 4px;
                overflow: hidden;
                margin-bottom: 30px;

                &:after {
                    content: "";
                    @include useGradient();
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0.8;
                    z-index: 1;
                }

                &.small {
                    height: 175px;
                }

                &.tall {
                    height: 313px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

#partners {
    background-color: #f7fafd;
    padding: 68px 0;
}

#services {
    padding-top: 120px;

    .service {
        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .service-block {
                width: calc((100% - 30px) / 2);
                box-sizing: border-box;
                margin-bottom: 30px;
                transition: 0.3s ease;

                &.market-research {
                    .icon {
                        background-color: #edf3ff;

                        i {
                            color: #0f70eb;
                        }
                    }
                }

                &.strategy {
                    .icon {
                        background-color: #e8faf6;

                        i {
                            color: #00c9a7;
                        }
                    }
                }

                &.code {
                    .icon {
                        background-color: #ffeaee;

                        i {
                            color: #e95e75;
                        }
                    }
                }

                &.marketing {
                    .icon {
                        background-color: #fff4da;

                        i {
                            color: #fdbf30;
                        }
                    }
                }

                &:hover {
                    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06) !important;
                }
            }

            &:hover {
                .service-block {
                    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.06);
                }
            }
        }
        &-info {
            padding-top: 24px;

            &_title {
                margin-top: 13px;
                font-size: 32px;
                color: $color-black;
                letter-spacing: 1.26px;
                line-height: 48px;
            }

            &_desc {
                font-size: 17px;
                color: $color-black-light;
                letter-spacing: 0.6px;
                line-height: 27px;
                margin-top: 10px;
            }

            &_features {
                margin-top: 40px;
            }

            &_actions {
                margin-top: 38px;
            }
        }
    }
}

#slider-layer1 {
    position: relative;
    .slider1 {
        width: 100%;
        z-index: 0;
        > img {
            width: 100%;
            height: 100%;
        }
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(135deg, #e85182 0%, #ee973c 100%);
            transition: 0.5s ease;
            opacity: 0.1;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: +1;
        }
    }
}
.slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ee973c;
}
.slick-dots {
    bottom: -50px;
}
#slider-wrapper {
    transform: translateY(150%);
    position: relative;
    z-index: 4;
    #my-slider {
        width: 350px;
        background-color: white;
        margin-left: auto;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 4px;
        .slider-title {
            display: flex;
            margin-bottom: 30px;
            .slider-img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: red;
                margin-right: 20px;
            }
            .client-details {
                padding: 5px 0;
                box-sizing: border-box;
                display: flex;
                height: 50px;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}
